pkgbase = torvo-git
	pkgdesc = A small, fast, quiet web browser built on WebKitGTK (Rust rewrite of Search)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/xengleng/Torvo
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = webkitgtk-6.0
	depends = gtk4
	depends = libadwaita
	depends = glib2
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	optdepends = xdg-desktop-portal-gtk: file pickers and opening downloads (or your desktop's portal)
	optdepends = gst-plugins-good: audio and video playback
	optdepends = gst-plugins-bad: more video formats
	optdepends = gst-libav: H.264 and other proprietary codecs
	optdepends = hunspell-en_us: spell checking (or another hunspell dictionary)
	provides = torvo
	conflicts = torvo
	options = !lto
	source = torvo::git+https://github.com/xengleng/Torvo.git
	sha256sums = SKIP

pkgname = torvo-git
