[Desktop Entry]
Type=Application
Name=Torvo
GenericName=Web Browser
Comment=A small, fast, quiet web browser
Exec=torvo %U
Icon=org.torvo.Torvo
Terminal=false
StartupNotify=true
StartupWMClass=org.torvo.Torvo
DBusActivatable=false
Categories=Network;WebBrowser;GTK;
Keywords=web;browser;internet;webkit;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-private-window;

[Desktop Action new-private-window]
Name=New Private Tab
Exec=torvo --private
